@import "../../styles/colors";

.app {

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 36px;
    transition: background-color .3s ease-in-out;

}

.header {

    .navigation {

        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px 20px;

        &-item {

            margin: 0 16px;

        }

    }

    &__logo {

        min-width: 100px;
        max-width: 100px;
        mix-blend-mode: soft-light; // stylelint-disable-line

    }


}

.content {

    position: relative;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

}

.footer {

    right: 0;
    bottom: 8px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    text-align: center;

    .btn {

        min-width: 112px;
        padding-top: 4px;
        padding-bottom: 4px;

    }

    @media ( min-width: 767px ) {

        position: fixed;
        flex-direction: row;
        margin-top: 0;

    }

}

// Third parties
.circle-picker {

    display: inline-flex !important;

    > span {

        > div {

            > span {

                > div {

                    border: 2px dotted rgba( #fff, .81 );

                }

            }

        }

        &:last-child {

            > div {

                margin-right: 0 !important;

            }

        }

    }

}

.swal-overlay {

    background-color: rgba( 0, 0, 0, .1 );

    .swal-modal,
    .swal-footer {

        text-align: center;

    }

}
