@import "../../styles/colors";

.home {

    text-align: center;

    .navigation-item {

        > a {

            flex: 1 1 100%;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 100%;
            margin: 8px auto;
            padding: 24px 20px;
            background-color: rgba( #fff, .9 );
            border: 1px solid $primary;
            border-radius: 3px;
            outline: none;
            box-shadow: 0 8px 24px rgba( $primary, .09 );
            cursor: pointer;
            transition: all .3s ease-in-out;
            appearance: none;

            &:active,
            &:hover,
            &:focus {

                background-color: rgba( #fff, 1 );
                box-shadow: 0 8px 24px rgba( $primary, .36 );
                transform: scale( 1.01 );

            }

        }

    }

}
